@page "/"

@if (Products != null)
{

    <div class="container">
        <div class="row">
            @foreach (var product in Products)
            {
                <div class="col-sm-5" style="width: 225px; max-width: 225px">
                    <div class="GameCard">
                        <div class="Game_cover">
                            <img class="img-responsive " src="@product.ImageUrl" >
                        </div>
                        <div class="GameCard-Caption">
                            <div class="GameCard-Aside">Køb</div>
                            <p class="GameCard-Name">@product.Name</p>
                            <small class="GameCard-Price">@(product.IsOnSale? product.SalePrice : product.Price) kr.</small>
                        </div>
                    </div>

                </div>
            }

        </div>
        <Paginator Length="Products.Paging.TotalCount" PageSize="Products.Paging.PageSize" Page="OnPage" PageLabel="Side:"></Paginator>
    </div>
}
<style>
    

</style>
