@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.col-sm-5 {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.GameCard {
    display: block;
    position: relative;
    overflow: hidden;
}


.GameCard-Name {
    font-weight: 600;
    margin-bottom: 2px;
    margin-top: 2px;
    width: 75%;
}

.GameCard-Price {
    display: block;
    width: 75%;
    color: #bfbfbf;
    font-size: 85%;
}

.GameCard-Price, .GameCard-Name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.GameCard-Caption {
    position: relative;
    border: 1px solid #ECECEC;
    background: white;
    padding: 2px 10px 7px 10px;
    font-size: 14px;
    color: #555555;
    min-height: 50px;
}

.GameCard-Aside {
    position: absolute;
    bottom: 15px;
    right: 8px;
    font-size: 14px;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.Game_cover {
    height: 0;
    padding-bottom: 133.33333333%;
    position: relative;
}

    .Game_cover > img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }

img {
    border: 0;
    vertical-align: middle;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.GameCard-Size {
    width: 25%;
    max-width: 25%;
    min-width: 175px;
}

.panel-heading :before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
}

.panel-heading[aria-expanded="true"] :before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
} 

.cart {

}

.cartList {
    background-color: lightgreen;
    height: 250px;
    width: 300px;
    border: 2px solid red;
    right: 0;
    position: absolute;
    transition: 1s all;
    transform: scale(0);
    transform-origin: 100% 0%;
    overflow-y: auto;
    overflow-x: hidden;
}

.cart:hover > .cartList {
    transform: scale(1);
}