@namespace Spil_Til_Dig.Web.Components
@inherits PaginatorCode

<div class="mat-paginator">
    <div class="mat-paginator-container">


        <div class="mat-paginator-range-actions">
            <span class="mat-paginator-range-labelmat-paginator-range-label">@PageLabel @(PageIndex + 1) / @TotalPages</span>
            <div class="mat-paginator-range-buttons">
                <MatIconButton Icon="first_page" OnClick=@(async () => _ = NavigateToPage(MatPaginatorAction.First, PageSize)) Disabled=@(PageIndex <= 0 || Disabled)></MatIconButton>
                <MatIconButton Icon="navigate_before" OnClick=@(async () => _ = NavigateToPage(MatPaginatorAction.Previous, PageSize)) Disabled=@(PageIndex <= 0 || Disabled)></MatIconButton>

                <MatIconButton Icon="navigate_next" OnClick="@(async () => _ = NavigateToPage(MatPaginatorAction.Next, PageSize))" Disabled="@(TotalPages - PageIndex <= 1 || Disabled)"></MatIconButton>
                <MatIconButton Icon="last_page" OnClick=@(async () => _ = NavigateToPage(MatPaginatorAction.Last, PageSize)) Disabled=@(TotalPages - PageIndex <= 1 || Disabled)></MatIconButton>
            </div>
        </div>

    </div>
</div>
